* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(white, palegoldenrod);
}

h1
{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: firebrick;
}


.container {
    margin: 0 auto;
    width: 700px;
    height: 800px;
    padding: 10%;
    border-radius: 10%;
}

.image {
    border-radius: 5%;
}

.container .image {
    width: 500px;
    height: auto;
}


.container a {
    text-decoration: none;
    color: green;
    font-weight: 700;
    font-size: larger;
}



.description .image {
    height: auto;
    width: 300px;
}

.description .text {
    display: inline-block;
    width: 250px;
    margin-left: 50px;
}

.container,
.instructions {
    font-family: 'Courier New', monospace;
    background-color: aliceblue;
    border: 5px solid red;
}

.description,   
.instructions {
    margin: 1% 10%;
    padding: 20px;
}

.instructions {
    border-radius: 10%;
}

.content {
    font-weight: 600;
}
